<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
  <test name="Regression1">
    <parameter name="browserType" value="chrome" />
    <parameter name="appUrl" value="https://login.salesforce.com" />
    <parameter name="username" value="uvillaseca@diplomadoqa2018.com" />
    <parameter name="password" value="YbaN8pAm" />
    <classes>
      <class name="org.fundacionjala.diplomadoqa.guiautomation.test.RootState"/>
    </classes>
  </test>
</suite>